{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="py-5 text-center align-items-center d-flex" style="background-image: linear-gradient(to left bottom, rgba(189, 195, 199, .75), rgba(44, 62, 80, .75)); background-size: 100%;">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-8 mx-auto" style="">
        <h1 class="display-3 mb-4">진료과목&nbsp;</h1>

        <h3 class="display-3" id="outputs">{{dpt}}</h3>

      </div>
    </div>
  </div>
</div>
<div class="pb-5">
  <div class="container-fluid p-0">
    <div id='map' style="width:100%;height:300px;" ></div>
  </div>
  <div class="container">
    <div class="row">
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      {% for data in datas %}
      <div class="col-md-6" style="">
        <div class="mx-auto p-4 col-md-12">
          <div class="row">
            <div class="col-md-12">
              <h2 class="mb-4">{{ data.hos_name}}</h2>
              <div class="row">
                <div class="col-md-6">
                  <p>주소: {{data.addr}}</p>
                </div>
                <div class="col-md-6"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p>영업정보: {{data.open_info}}</p>
            </div>
            <div class="col-md-6"></div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p>전화번호: {{data.tel}} </p>
            </div>
            <div class="col-md-6"></div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p>진료과목: {{data.medi_course}}</p>
            </div>
            <div class="col-md-6"></div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p></p>
            </div>
            <div class="col-md-6"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6" style="">
            <div class="row">
              <div class="col-md-12">
                <h5 class="text-right mt-3"></h5>
              </div>
            </div>
          </div>
          <div class="col-md-6" style="">
            
          </div>
        </div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row">
          <div class="col-md-12"></div>
        </div>
      </div>
      
    </div>
  </div>
  <div class="container">
    <div class="row"></div>
  </div>
</div>
<div class="text-white bg-dark" id="where">
  <div class="container">
    <div class="row">
      <div class="p-5 col-md-6">
        <h3><b>룩포닥</b></h3>
        <p class="">Seoul gangnam gu - Olympic ro 777-93</p>
        <p class="">
          <a href="#">hello@lookfordoc.co.kr</a>
        </p>
        <p class="mb-3">
          <a href="#">02-927-72278</a>
        </p>
        <a href="#" target="_blank"><i class="fa d-inline fa-lg mr-3 text-white fa-linkedin"></i></a>
        <a href="#" target="_blank"><i class="fa fa-facebook d-inline fa-lg mr-3 text-white"></i></a>
      </div>
      <div class="p-5 col-md-6">
        <h3>Get in touch</h3>
        <form>
          <div class="form-group">
            <input type="email" class="form-control form-control-sm" placeholder="Email" required="required" name="email"> </div>
          <div class="form-group">
            <input type="text" class="form-control form-control-sm" id="inlineFormInput" placeholder="Subject" required="required" name="subject"> </div>
          <div class="form-group"><textarea class="form-control p-1 form-control-sm" id="exampleTextarea" rows="3" placeholder="Your message" name="message"></textarea></div>
          <button type="submit" class="btn btn-outline-light btn-sm">SUBMIT</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mt-3">
        <p class="text-center text-muted">© Copyright 2018 Pingendo - All rights reserved. </p>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!-- Script: Smooth scrolling between anchors in the same page -->
<script src="{% static 'js/smooth-scroll.js' %}"></script>


<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=89b0541f03013f5b0f1f1170d8eb4f37&libraries=services,clusterer,drawing"></script>
<script type="text/javascript">
  var container = document.getElementById('map');
  var options = {
    center: new kakao.maps.LatLng(parseFloat('{{usr_lat}}'), parseFloat('{{usr_lng}}')),
    level: 3
  };
  
  var map = new kakao.maps.Map(container, options);
  var marker_1 = new kakao.maps.Marker({
      position: new kakao.maps.LatLng(parseFloat('{{usr_lat}}'), parseFloat('{{usr_lng}}')), // 마커의 좌표

      map: map // 마커를 표시할 지도 객체
  });
  var infowindow = new kakao.maps.InfoWindow({
      content : '<div style="padding:1px;">내위치</div>' // 인포윈도우에 표시할 내용
  });
  infowindow.open(map, marker_1);





  // 지도에 마커를 생성하고 표시한다
  var marker = new kakao.maps.Marker({
      position: new kakao.maps.LatLng(parseFloat("{{data.latitude}}"), parseFloat("{{data.longitude}}")), // 마커의 좌표

      map: map // 마커를 표시할 지도 객체
  });
  
  //내위치 메시지박스 출력
  var infowindow = new kakao.maps.InfoWindow({
      content : '<div style="padding:1px;">'+"{{data.hos_name}}"+'</div>' // 인포윈도우에 표시할 내용
  });

  // 인포윈도우를 지도에 표시한다
  infowindow.open(map, marker);

  // 마커에 클릭 이벤트를 등록한다 (우클릭 : rightclick)
  kakao.maps.event.addListener(marker, 'click', function() {


    // var base_link = 'https://www.google.co.kr/maps/dir/';
    // var usr_loc = '{{usr_lat}}'+ ',' + '{{usr_lng}}'
    // var hos_loc = "{{data.latitude}}" + ',' + "{{data.longitude}}"

    // var link = base_link + usr_loc+ '/' + hos_loc + '/data=!3m1!4b1!4m2!4m1!3e3'



    var base_link = 'https://map.kakao.com/link/to/';
    var hos_name = "{{data.hos_name}}"
    var hos_lat = "{{data.latitude}}"
    var hos_lng = "{{data.longitude}}"
    var link = base_link + hos_name+ ',' + hos_lat + ',' + hos_lng


        // location.replace(link);
        window.open(link);
  });
</script>

{% endfor %}

{% endblock %}