{% extends 'base.html' %}
{% block content %}

  <div class="py-5 text-center cover d-flex flex-column bg-dark filter-dark" style="	background-image: url(&quot;assets/styleguide/headache.jpg&quot;);	background-position: top;	background-size: 150%;	background-repeat: repeat;">
    <div class="container my-auto">
      <div class="row">
        <div class="mx-auto col-lg-6 col-md-8">
          <h1 class="display-1 mb-0 mt-5 big-title">룩포닥</h1>
          <h3 class="mb-4"><b>나의 증상에 맞는 병원 찾기</b></h3>
          <p>간단한 증상 입력으로 나의 근처에 알맞는 병원을 저희가 찾아 드릴게요!</p>
        </div>
      </div>
    </div>
    <div class="container mt-auto">
      <div class="row">
        <div class="mx-auto col-lg-6 col-md-8 col-10">
          <a href="#mission"><i class="d-block fa fa-angle-down fa-2x"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 filter-dark cover bg-fixed" style="background-image: url(&quot;assets/styleguide/header.jpg&quot;); background-position: center bottom; background-size: 200%; background-repeat: repeat;" id="mission">
    <div class="container my-auto">
      <div class="row">
        <div class="p-3 text-white col-md-7" style="">
          <h1 class="mb-4" contenteditable="true">도대체 어느 병원을 가야하지?</h1>
          <a class="btn btn-primary btn-lg pl-2 pr-2 ml-0" href="#">병원 바로 찾아보기</a>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 bg-light" id="what">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-10 mx-auto px-4">
          <h2 class="text-muted mb-4">What do we do</h2>
          <div class="row text-left">
            <div class="p-3 col-lg-4 col-md-6">
              <div class="row mb-3">
                <div class="text-center col-3"><i class="d-block mx-auto fa text-muted fa-4x fa-hospital-o"></i></div>
                <div class="align-self-center d-flex align-items-center px-0 px-md-2 col-9">
                  <h5 class="mb-0"><b>&nbsp; &nbsp;Analyze</b></h5>
                </div>
              </div>
              <p class="text-muted">당신의 증상에 대한 알맞는 진료과를 추천할 수 있도록 알고리즘을 연구합니다.</p>
            </div>
            <div class="p-3 col-lg-4 col-md-6">
              <div class="row mb-3">
                <div class="text-center col-3"><i class="d-block mx-auto fa text-muted fa-4x fa-map-marker"></i></div>
                <div class="align-self-center d-flex align-items-center px-0 px-md-2 col-9">
                  <h5 class="mb-0"><b>&nbsp; Recommendation</b></h5>
                </div>
              </div>
              <p class="text-muted">당신의 위치에서 가장 가까운 병원을 추천해줍니다.</p>
            </div>
            <div class="p-3 col-lg-4">
              <div class="row mb-3">
                <div class="text-center col-3"><i class="d-block mx-auto fa text-muted fa-4x fa-info-circle"></i></div>
                <div class="align-self-center d-flex align-items-center px-0 px-md-2 col-9">
                  <h5 class="mb-0"><b>&nbsp;Information</b></h5>
                </div>
              </div>
              <p class="text-muted">병원의 정보를 제공합니다.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-muted">우리 사이트로 당신은</h2>
        </div>
      </div>
      <div class="row">
        <div class="text-right col-md-6">
          <div class="row my-5">
            <div class="order-lg-2 text-center col-lg-2 col-3"> <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-stack-1x fa-hourglass-1 text-white"></i>
              </span> </div>
            <div class="text-lg-right text-left order-lg-1 col-lg-10 col-9">
              <h4>시간절약</h4>
              <p>증상에 대해 검색하는 시간을 절약합니다.</p>
            </div>
          </div>
          <div class="row my-5">
            <div class="order-lg-2 text-center col-lg-2 col-3"> <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                <i class="fa fa-stack-1x fa-stethoscope text-white"></i>
              </span> </div>
            <div class="text-lg-right text-left order-lg-1 col-lg-10 col-9">
              <h4>Self 진단</h4>
              <p>스스로 진단해볼 수 있습니다.</p>
            </div>
          </div>
        </div>
        <div class="text-left col-md-6">
          <div class="row my-5">
            <div class="text-center col-lg-2 col-3"> <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x text-danger"></i>
                <i class="fa fa-stack-1x text-white fa-file-text-o"></i>
              </span> </div>
            <div class="col-lg-10 col-9">
              <h4>Save and use it</h4>
              <p>당신만의 증상 검색기록을 저장하고 즐겨찾기 기능을 사용해보세요.</p>
            </div>
          </div>
          <div class="row my-5">
            <div class="text-center col-lg-2 col-3"> <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x text-info"></i>
                <i class="fa fa-stack-1x text-white fa-search"></i>
              </span> </div>
            <div class="col-lg-10 col-9">
              <h4>Take it easily</h4>
              <p>쉽게 위치와 정보를 찾을 수 있습니다.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 section bg-light">
    <div class="container p-3">
      <div class="row align-items-center mb-4">
        <div class="col-lg-3">
          <h2 class="mb-3">We are with MultiCampus</h2>
        </div>
        <div class="pl-lg-4 col-lg-8  mb-2">
          <p class="lead mb-0 text-muted">증상에 대한 진료과 추천은 각 진료과 별 주요 증상에 대한 모델링을 기반으로 이루어지며 카카오맵과 연동하여 병원에 대한 정보를 제공합니다.&nbsp; Clinic recommendations for symptoms are made based on modeling of major symptoms for each department, and information about hospitals is provided in conjunction with Kakao Map. Thanks.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12"> </div>
      </div>
    </div>
  </div>
  <div class="text-white bg-dark" id="where">
    <div class="container">
      <div class="row">
        <div class="p-5 col-md-6">
          <h3><b>룩포닥</b></h3>
          <p class="">Seoul gangnam gu - Olympic ro 777-93</p>
          <p class="">
            <a href="#">hello@lookfordoc.co.kr</a>
          </p>
          <p class="mb-3">02-927-72278</p>
          <a href="#" target="_blank"><i class="fa d-inline fa-lg mr-3 text-white fa-linkedin"></i></a>
          <a href="#" target="_blank"><i class="fa fa-facebook d-inline fa-lg mr-3 text-white"></i></a>
        </div>
        <div class="p-5 col-md-6">
          <h3>Get in touch</h3>
          <form>
            <div class="form-group">
              <input type="email" class="form-control form-control-sm" placeholder="Email" required="required" name="email"> </div>
            <div class="form-group">
              <input type="text" class="form-control form-control-sm" id="inlineFormInput" placeholder="Subject" required="required" name="subject"> </div>
            <div class="form-group"><textarea class="form-control p-1 form-control-sm" id="exampleTextarea" rows="3" placeholder="Your message" name="message"></textarea></div>
            <button type="submit" class="btn btn-outline-light btn-sm">SUBMIT</button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3">
          <p class="text-center text-muted">© Copyright 2018 Pingendo - All rights reserved. </p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <!-- Script: Smooth scrolling between anchors in the same page -->
  <script src="js/smooth-scroll.js"></script>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 20px;right:20px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:220px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;<img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16"></pingendo>

  {% endblock %}