  {% extends 'base.html' %}
  {% block content %}
  {% load static%}
  <div class="py-5 text-center align-items-center d-flex" style="background-image: linear-gradient(to left bottom, rgba(189, 195, 199, .75), rgba(44, 62, 80, .75)); background-size: 100%;">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-8 mx-auto" style="">
          <h1 class="display-3 mb-4">진료과목&nbsp;</h1>
          <h3 class="display-3" id="outputs"></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="pb-5 px-0 mx-0">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-md-12 py-4 px-0">
          <h2 class="mb-4"><i class="fa fa-user-md" aria-hidden="true"></i> 병원리스트</h2>
          <div class="row">
            <form method="post" action="{% url 'recommend:check_dpt' %}" id="change_dist" style="width: 30%;">
              {% csrf_token %}
            <div class="col-md-7 mt-5" id="hos_list" >
            </div>
            </form>
            <!-- 동적 자바스크립트로 병원리스트 뿌려주는 곳-->
        
            <div class="col-md-7 mt-4">
              <div id='map' style="width:100%;height:400px;" ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-white bg-dark" id="where">
    <div class="container">
      <div class="row">
        <div class="p-5 col-md-6">
          <h3><b>룩포닥</b></h3>
          <p class="">Seoul gangnam gu - Olympic ro 777-93</p>
          <p class="">
            <a href="#">hello@lookfordoc.co.kr</a>
          </p>
          <p class="mb-3">
            <a href="#">02-927-72278</a>
          </p>
          <a href="#" target="_blank"><i class="fa d-inline fa-lg mr-3 text-white fa-linkedin"></i></a>
          <a href="#" target="_blank"><i class="fa fa-facebook d-inline fa-lg mr-3 text-white"></i></a>
        </div>
        <div class="p-5 col-md-6">
          <h3>Get in touch</h3>
          <form>
            <div class="form-group">
              <input type="email" class="form-control form-control-sm" placeholder="Email" required="required" name="email"> </div>
            <div class="form-group">
              <input type="text" class="form-control form-control-sm" id="inlineFormInput" placeholder="Subject" required="required" name="subject"> </div>
            <div class="form-group"><textarea class="form-control p-1 form-control-sm" id="exampleTextarea" rows="3" placeholder="Your message" name="message"></textarea></div>
            <button type="submit" class="btn btn-outline-light btn-sm">SUBMIT</button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3">
          <p class="text-center text-muted">© Copyright 2018 Pingendo - All rights reserved. </p>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <!-- Script: Smooth scrolling between anchors in the same page -->
  <script src="{% static 'js/smooth-scroll.js' %}"></script>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 20px;right:20px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:220px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;<img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16"></pingendo>
  
  
  <!-- 지도부분 -->
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=89b0541f03013f5b0f1f1170d8eb4f37&libraries=services,clusterer,drawing"></script>
  
  <script>

    // views.py 로부터 데이터 가져와서 json객체로 만들기
    
    var data = '{{ datas|safe }}';
    data_length = data.length
    console.log(data_length)
    var json_data = JSON.parse(data);

    // json 거리 가까운 순으로 오름 차순 정렬
    function custonSort(a, b) {
    if(a.dist == b.dist){ return 0} return  a.dist > b.dist ? 1 : -1;
    }




    markers = new Array;
    if (data_length < 100 ) {
           
      var dpt = json_data.rec_dpt
      var lat = json_data.usr_lat
      var lng = json_data.usr_lng
      
      // 병원과 출력
      document.getElementById('outputs').innerText = dpt;


      // 근처에 병원없음 알림 
      let tagArea = document.getElementById('hos_list');
      let new_divNoHosTag = document.createElement('h5');
      // new_divNoHosTag.setAttribute('class', 'col-md-4 my-2');
      new_divNoHosTag.setAttribute('id', 'no_hos_text');
      tagArea.appendChild(new_divNoHosTag);
      document.getElementById('no_hos_text').innerText = "사용자의 위치 근처에 맞는 병원이 없습니다.";


      // 카카오맵 생성
      var container = document.getElementById('map');
      var options = {
        center: new kakao.maps.LatLng(lat, lng),
        level: 5
      };
      
      var map = new kakao.maps.Map(container, options);

      // 내위치 마커 생성
      let marker = new kakao.maps.Marker({
        position: new kakao.maps.LatLng(lat, lng)
        });
      markers.push(marker)

      // Marker 담을 클러스터 객체 생성
      var clusterer = new kakao.maps.MarkerClusterer({
      map: map,
      markers: markers,
      gridSize: 35,
      averageCenter: true,
      minLevel: 6,
      disableClickZoom: true,
      styles: [{
          width : '53px', height : '52px',
          background: 'url(cluster.png) no-repeat',
          color: '#fff',
          textAlign: 'center',
          lineHeight: '54px'
      }]
      });
      //내위치 메시지박스 출력
      var infowindow = new kakao.maps.InfoWindow({
          content : '<div style="padding:1px;">내위치</div>' // 인포윈도우에 표시할 내용
      });

      // 인포윈도우를 지도에 표시한다
      infowindow.open(map, markers[0]);
      

    } else {


      // 사용자와 병원사이의 거리 오름차순 정렬
      json_data.sort(custonSort);
      console.log(json_data)

      // 추천과 출력
      document.getElementById('outputs').innerText = json_data[0].rec_dpt
      var container = document.getElementById('map');
      var options = {
        center: new kakao.maps.LatLng(json_data[0].usr_lat, json_data[0].usr_lng),
        level: 7
      };
      
      var map = new kakao.maps.Map(container, options);

      

      

      




      // 병원 리스트 JS 동적 생성
      let tagArea = document.getElementById('hos_list');

      for (let index = 1; index < 6; index++) {

        let new_divRowTag = document.createElement('div');
        let new_divColTag = document.createElement('div');
        let new_divLastTag = document.createElement('div');
        let new_hNameTag = document.createElement('h5');
        let new_hDistTag = document.createElement('h5');
        let new_aTag = document.createElement('a');


        
        new_divRowTag.setAttribute('class', 'row');
        new_divColTag.setAttribute('class', 'col-md-7 my-2');
        new_divLastTag.setAttribute('class', 'col-md-4 my-2');


        
        new_divRowTag.setAttribute('id', 'row_div_'+String(index));
        new_divColTag.setAttribute('id', 'name_div_'+String(index));
        new_divLastTag.setAttribute('id', 'dist_div_'+String(index));
        new_hNameTag.setAttribute('id', 'hos_name_'+String(index));
        new_hDistTag.setAttribute('id', 'dist_'+String(index));
        new_divRowTag.setAttribute('style', 'cursor: pointer;');
        new_divRowTag.setAttribute('onclick', "location.href='" + 
          "/recommend/hosinfo/" + 
          json_data[index-1].rec_dpt + '&' + 
          String(json_data[index-1].usr_lat) + '&' + 
          String(json_data[index-1].usr_lng) +
          "/" + 
          String(json_data[index-1].hos_id) + 
          "'");
        
        new_hNameTag.innerHTML = json_data[index-1].hos_name ;
        new_hDistTag.innerHTML = String(json_data[index-1].dist) + "m" ;

    
        tagArea.appendChild(new_divRowTag);
    

        let target_row_div = document.getElementById('row_div_'+String(index));

        target_row_div.appendChild(new_divColTag);
        target_row_div.appendChild(new_divLastTag);
        target_row_div.appendChild(new_aTag);

        let target_name_div = document.getElementById("name_div_"+String(index));
        let target_dist_div = document.getElementById('dist_div_'+String(index));
        let target_name_h = document.getElementById('hos_name_'+String(index));
        let target_dist_h = document.getElementById('dist_'+String(index));
        
        target_name_div.appendChild(new_hNameTag);
        target_dist_div.appendChild(new_hDistTag);

        document.getElementById("hos_name_"+String(index)).innerHTML = json_data[index-1].hos_name
        document.getElementById("dist_"+String(index)).innerHTML = String(json_data[index-1].dist) + "m"
        




        
      }



      // 유저데이터
      let marker = new kakao.maps.Marker({
        position: new kakao.maps.LatLng(json_data[0].usr_lat, json_data[0].usr_lng)
        });
      markers.push(marker)

      // 병원 markers 생성    
      for (let index = 1; index < 6; index++) {
        let marker = new kakao.maps.Marker({
        position: new kakao.maps.LatLng( json_data[index-1].hos_lat, json_data[index-1].hos_lng )
        });
        markers.push(marker)
      }


      // Marker 담을 클러스터 객체 생성
      var clusterer = new kakao.maps.MarkerClusterer({
      map: map,
      markers: markers,
      gridSize: 35,
      averageCenter: true,
      minLevel: 6,
      disableClickZoom: true,
      styles: [{
          width : '53px', height : '52px',
          background: 'url(cluster.png) no-repeat',
          color: '#fff',
          textAlign: 'center',
          lineHeight: '54px'
      }]
      });
      //내위치 메시지박스 출력
      var infowindow = new kakao.maps.InfoWindow({
          content : '<div style="padding:1px;">내위치</div>' // 인포윈도우에 표시할 내용
      });

      // 인포윈도우를 지도에 표시한다
      infowindow.open(map, markers[0]);


      // 병원 인포윈도우 표시
      for (let index = 1; index < 6; index++) {

        //내위치 메시지박스 출력
        var infowindow = new kakao.maps.InfoWindow({
        content : '<div style="padding:1px;">' +json_data[index-1].hos_name  + '</div>' // 인포윈도우에 표시할 내용
        });

        // 인포윈도우를 지도에 표시한다
        infowindow.open(map, markers[index]);

      }
    
    
    
    }

    





		




  </script>
  



  
  {% endblock %}